body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.caja{
    height: 100px;
    width: 50%;
}

.izquierda {
    float: left;
    width: 40%;
}

.derecha {
    float: right;
    width: 40%
}
#materiasPrimas {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#materiasPrimas td, #materiasPrimas th {
        border: 1px solid #ddd;
        padding: 8px;
    }

#materiasPrimas tr:nth-child(even) {
        background-color: #f2f2f2;
    }

#materiasPrimas tr:hover {
        background-color: #ddd;
    }

    #materiasPrimas th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #3366ff;
        color: white;
    }

.EntradaProductoNombre{
    width: 400px !important;
}

@media only screen and (max-width: 600px){
    .EntradaProductoNombre {
        width: 250px !important;
    }
}

glyphicon-rotate {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}