
@{
    ViewBag.Title = "NuevoGramaje";
}

<h2>Nuevo Gramaje</h2>
<br />
<form class="form-horizontal" method="post">
    <div class="form-group">
        <label for="pesoGramaje" class="col-sm-2 control-label">Nombre gramaje:</label>
        <div class="col-sm-10">
            <input name="PesoGramaje" type="number" class="form-control" id="pesoGramaje" placeholder="Ingrese el peso">
        </div>
    </div>
    <div class="form-group">
        <label for="descripcion" class="col-sm-2 control-label">Descripcion:</label>
        <div class="col-sm-10">
            <input name="Descripcion" type="text" class="form-control" id="descripcion" placeholder="Ingrese una descripcion opcional">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Aceptar</button>
        </div>
    </div>
</form>

